@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Nunito&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  background-color: #748cab;
	font-family: 'Nunito', sans-serif;
  color: #0d1321;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: -0.031rem;
}