@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  background-color: #748cab;
  font-family: "Nunito", sans-serif;
  color: #0d1321;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: -0.031rem;
}

main,
nav,
section {
  display: block;
}

/* NAV BAR STYLING */

.nav-margin,
.hero-margins {
  margin-bottom: 8rem;
}

.container {
  position: relative;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 4rem;
  padding-left: 4rem;
}

.nav-wrapper {
  display: grid;
  height: 4rem;
  grid-auto-columns: 1fr;
  row-gap: 0rem;
  column-gap: 0rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.grid-wrapper.flex {
  display: flex;
}

.grid-wrapper {
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
}

.nav-item {
  color: #0d1321;
  text-decoration: none;
  cursor: pointer;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #0d1321;
}

.nav-logo {
  font-family: "Josefin Sans", sans-serif;
}

#select-work-margin {
  margin-right: 5rem;
}

.hero-text {
  max-width: 90%;
  font-family: "Dosis", sans-serif;
  font-size: 5rem;
  line-height: 5.625rem;
}

.container.about-margin {
  padding-bottom: 5rem;
}

/* ABOUT ME SECTION */

._2-col-grid {
  column-gap: 2rem;
  row-gap: 0rem;
  grid-template-rows: auto;
}

.w-layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 1rem;
  column-gap: 1rem;
}

#grid-about {
  grid-row: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}

.grid-wrapper.flex-btm {
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
}

._2-col-grid.max-width {
  width: 100%;
}

.divider-line {
  width: 100%;
  border-bottom: 0.063rem solid #e5e5e5;
}

.about-divider {
  margin-bottom: 2rem;
}

.smallcaps {
  font-variant: small-caps;
  margin-bottom: 0.5rem;
  color: #1d2d44;
}

.email,
.location {
  display: inline-block;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img {
  display: block;
  width: 100%;
  border-radius: 5%;
}

img {
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}

/* SELECT WORK */

footer,
header,
main,
menu,
nav,
section {
  display: block;
}

.container.work-padding {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
}

.large-paragraph {
  font-size: 2.624rem;
  line-height: 3.25rem;
}

.container.work-title-margin {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-heading {
  margin-bottom: 7rem;
  font-size: 4.375rem;
  line-height: 5rem;
}

.flex-wrapper {
  margin: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.project-video {
  width: 45rem;
  height: 30rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

video {
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.project-info {
  height: 100%;
  width: 100%;
  margin-top: 30%;
}

.project-title {
  margin-bottom: 18%;
  margin-left: 10%;
  font-family: "Dosis", sans-serif;
  font-size: 5rem;
  cursor: pointer;
}

.external-link {
  display: inline-block;
}

.project-description {
  margin-left: 10%;
  font-size: 1.4rem;
}

.pill {
  display: flex;
  flex-wrap: wrap;
  padding: 0.4rem 0.4rem 0.4rem;
  border: 0.063rem solid #0d1321;
  border-radius: 2rem;
  line-height: 100%;
  width: fit-content;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 550;
  color: #0d1321;
  margin-top: 10%;
}

.pill1 {
  display: flex;
  margin-top: 0.5rem;
  padding: 0.4rem 0.4rem 0.4rem;
  border: 0.063rem solid #0d1321;
  border-radius: 2rem;
  line-height: 100%;
  width: fit-content;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 550;
  color: #0d1321;
}

/* CONTACT SECTION */

.contact {
  background-color: #f0ebd8;
  margin-top: 5%;
}

.section-heading.contact-header {
  margin-left: 4%;
  padding-top: 5%;
  margin-bottom: 5rem;
}

.contact-paragraph {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 3rem;
  margin-left: 4%;
}

.contact-options {
  margin-left: 7%;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 5rem;
}

.contact-link {
  color: #0d1321;
  margin-left: 7%;
  cursor: pointer;
}

#contact-email {
  margin-top: 2rem;
}

/* FOOTER */

.footer {
  position: relative;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  height: 4rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 4rem;
  padding-left: 4rem;
  align-items: center;
}

.divider-line-footer {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  border-bottom: 0.063rem solid #1d2d44;
}

.footer-text {
  margin-bottom: 0.25rem;
  letter-spacing: 0;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 1389px) {
  .project-title {
    font-size: 4rem;
    margin-left: 2%;
  }

  .project-description {
    font-size: 1.2rem;
    margin-left: 2%;
  }

  .pill,
  .pill1 {
    font-size: 0.8rem;
  }

  .project-info {
    margin-top: 40%;
  }

  video {
    width: 90%;
  }
}

@media screen and (max-width: 1307px) {
  .project-title {
    font-size: 3rem;
    margin-left: 0;
  }

  .project-description {
    font-size: 1.1rem;
    margin-left: 0;
  }

  .pill,
  .pill1 {
    font-size: 0.7rem;
  }

  .project-info {
    margin-top: 50%;
  }
}

@media screen and (max-width: 1136px) {
  .container {
    padding: 1rem;
  }

  .flex-wrapper,
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .section-heading {
    margin-bottom: 3.5rem;
  }

  .column {
    width: 100%;
    left: auto;
    right: auto;
    flex-direction: unset;
    flex: none;
    justify-content: center;
  }

  .project-video {
    margin: 4% 0 0 0;
    width: 100%;
    height: 100%;
  }

  video {
    width: 100%;
  }

  .project-info {
    margin: 0;
  }

  .project-title {
    font-size: 4rem;
    margin-top: 3rem;
    margin-bottom: 2%;
  }

  .project-description {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .pill.project-description {
    font-size: 0.8rem;
    margin: 4rem 0 0.5rem 0;
  }

  .pill1.project-description {
    font-size: 0.8rem;
    margin: 0 0 2rem 0;
  }

  #onlypill {
    margin-bottom: 2rem;
  }
}
